{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "unused-imports", "simple-import-sort"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": "off",
    "prettier/prettier": 2,
    "no-empty": "off",
    "no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "simple-import-sort/imports": "error"
  }
}
